<html>
    <meta charset="utf-8">
    <title>Nakiri Fortune</title>
    <link type="text/css" rel="stylesheet" href="style.css"/>
</html>
<body>
    <div class="stripe top"></div>

    <br><br><br>
    <div class="main-div"><img id="banner" src="./banner.png"></div>
    <br>
    <div class="main-div">
        <img src="" onerror="this.src='./alter.png'" id="outImg"></canvas>
    </div>
    <br>
    <div class="main-div">
        <button id='sub-btn' onclick="generate()">今日运势</button>
    </div>

    <div class="stripe bottom"></div>
</body>