html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffe8e8;
    text-align: center;
}

.stripe {
    height: 5%;
    width: 100%;
    background: #ff9595;
    position: fixed;
}

.top {
    top: 0;
}

.bottom {
    bottom: 0;
}

.main-div {
    margin-left: auto; margin-right: auto;
    margin-top: 10; margin-bottom: 10;
    max-width: 50vh;
    max-height: 30vh;
}

.max-50 {
    max-height: 50vh;
}

#banner {
    width: 60%;
}

#outImg {
    width: 60%;
    border: 1px solid #ff476c;
}
#outImg::before{padding-left: 133%; display: block;}

#name-label {
    font: 18pt bold;
}

#sub-btn {
    width: 150px;
    height: 50px;
    background-color: #ff476c;
    color: white;
    padding: auto;
    display:inline-block;
    font-size: 20pt;
}
#sub-btn::before{padding-top: 30%; display: block;}

#name-input {
    font-size: 20pt; 
    width: 150pt; 
    text-align: center;
}

/* replacing cursor */
body {cursor:url(../cursor/01_ayame.cur), auto;}
#name-label {cursor:url(../cursor/01_ayame.cur), auto;}
#sub-btn {cursor: url(../cursor/01_ayame_pointer.cur), auto;}
#name-input {cursor: url(../cursor/01_ayame_text.cur), auto;}