<html>
    <meta charset="utf-8">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>Nakiri Fortune</title>
    <link type="text/css" rel="stylesheet" href="static/css/style.css"/>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <link rel="icon" href="static/img/favicon.ico"/>
</html>
<body>
    <div class="stripe top"></div>

    <br><br><br>
    <div class="main-div"><img id="banner" src="static/img/banner.png"></div>
    <br>
    <div class="main-div max-50">
        <img src="static/img/alter.png" id="outImg"></canvas>
    </div>
    <br>
    <div class="main-div">
    <input type="button" id='sub-btn' value='今日运势' onclick="submit()">
    <script>function submit(){
        $.ajax({
            type: "POST",
            url: "/generate",
            dataType: "json",
            data: {
                "name": "none"
                },
            success: (result => {
                console.log(result.message);
                $("#outImg").attr("src", result.imgUrl);
                $("#sub-btn").val('今日运势')
                })
            })
        }</script>
        <script>$("#sub-btn").click(()=>{$("#sub-btn").val('生成中…')})</script>
    </div>

    <div></div>

    <br><br>

    <div class="stripe bottom">
        <a href="https://github.com/Kotori815/Nakiri-Fortune">Github Source</a><br>
        本网站仅基本功能完成，仍在完善中
    </div>
</body>